* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  width: 100vw;
  background-image: url("../images/cubesBG.png");
}

/* ----------------------------- header section ----------------------------- */
header {
  background-color: #f5ba13;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  h2 {
    color: #fff;
    font-family: "McLaren", cursive;
    letter-spacing: 0.7px;
    font-weight: 200;
  }
}

//form to create note
form.createNoteForm {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  input,
  textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  .fabButton {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: #eee;
    }
  }
}

/* ------------------------------- noteSection ------------------------------ */
.noteSection {
  height: 60vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
//notes
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  max-width: 300px;
  width: 240px;
  margin: 16px;
  float: left;
  h1,
  #title {
    font-size: 1.1em;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.78);
  }
  p,
  #content {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    font-size: 0.99em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  #title,
  #content {
    margin: 5px;
    border: none;
    padding: 3px;
    outline: none;
  }
  #content {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.1em;
    font-family: inherit;
    resize: none;
  }
  .actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .updateClicked {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .updateBtn{
        margin: 0 auto;
        background-color: #f5ba13;
        color: white;
        width: fit-content;
        padding: 5px 10px;
      }
    }
    button {
      position: relative;
      color: #f5ba13;
      background-color: transparent;
      border: none;
      width: 36px;
      height: 36px;
      cursor: pointer;
      outline: none;
      border-radius: 10px;
      &:hover {
        background-color: #eee;
      }
    }
    .editBtn {
      float: right;
    }
  }
}

/* ----------------------------- footer section ----------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  p {
    color: #ccc;
  }
}

/* ------------------------------ media queries ----------------------------- */
@media (max-width: 500px) {
  header {
    text-align: center;
  }
  form.createNoteForm {
    width: 85vw;
  }
  .note {
    width: 84%;
  }
}
